name: Test

on: [push, pull_request]

jobs:
  bats:
    name: BATS
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install BATS
      run: sudo npm install -g bats

    - name: Run BATS test
      run: bats . lib

  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Shellcheck
      uses: reviewdog/action-shellcheck@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        reporter: github-pr-review
        level: style
